<form action="https://buttondown.com/api/emails/embed-subscribe/jugisahunk"
      method="post"
      target="popupwindow"
      class="subscribe-form">
  <label for="bd-email" class="sr-only">email address</label>
  <input type="email"
         name="email_address"
         id="bd-email"
         placeholder="your email"
         required>
  <button type="submit">subscribe</button>
</form>
